
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    font-family: "poppins", "serif";
}

/**header**/
header,
footer {
    color: white;
    font-size: large;
    background-color: rgb(79, 79, 79);
    width: 100vw;
}

nav {
    padding: 0.2em;
    width: 100%;
}
.nav {
    position: sticky;
    top: 0;
}

.nav_ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5rem;
}
nav li{
    list-style: none;
}

nav a{
    text-decoration: none;
    color: rgb(249, 244, 244);
}
nav a img{
    
}

#search {
    border: none;
    border-radius: 100px;
    padding: 8px 0 8px 29px;
    font-size: medium;
    font-weight: bold;
}

.nav_li6{
    position: relative;
}

.nav_li6 img.search {
    position: absolute;
    margin-top: 6px;
    margin-left: 5px;
}

img,
button{
    cursor: pointer;
    font-weight: bolder;
}

.nav_li7,
.nav_li8,
button{
    background-color: rgb(38, 38, 39);
    border: 1px solid rgb(38, 38, 39);
    border-radius: 5px;
    padding: 6px 14px;
}


.nav_li7 a,
.nav_li8 a {
    color: white;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    justify-content: center;
    margin: 0;
}

.main1 {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-around;
    margin: 0 50px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.section2 {
    width: -70%;
    gap: 4rem;
}

.heroProduct {
    border-radius: 20px;
    width: 500px;
    height: 500px;
}
.carousel {
    padding-left: 1em;
}

.s2_details {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: large;
    margin: 0;

}

.section1 {
    gap: 3rem;
    width: 80%;
    margin-left: 10%;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 10px;
}

.section1_prdt {
    display: flex;
}

.price {
    flex-direction: column;
    padding-top: 10em;
    margin-left: 50px;
    width: 200px;
}

.price p{
    font-size: large;
    font-weight: bolder;
}

.s1ProductDetails,
.s2_detailsp {
    text-align: justify;
}

.s2_details{
    margin-right: 10px;
}

.btnPrice,
.price {
    display: flex;
    gap: 1rem;
}

.section3 {
    width: 100vw;
    background-color: rgb(79, 79, 79);
    margin: 0;
}

.section3_d1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
}
.carousel-controls .carousel-btn{
    color: white;
}
.section3_d1 button{
    color: white;
    transition: 0.3s;
}

.section3_d1 h3{
    color: white;
    font-family: Arial;
    font-style: italic;
}

.section3_d1 .ululu{
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    opacity: 0.8;
    box-shadow: 10px 10px rgb(38, 38, 39);
}
.section3_d1 button:hover{
    background-color: white;
    color: rgb(38, 38, 39);
}
.btnPrice button{
    color: white;
}

.carousel {
    position: relative;
    text-align: center;
}
.heroProduct {
    object-fit: cover;
}

.carousel-controls {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 30%;
    display: flex;
    justify-content: center;
    gap: 3rem;
    
}

.carousel-btn {
    padding: 10px 20px;
    cursor: pointer;
    margin: 0 10px;
    border-radius: 50%;
    transition: 0.3 ease-out;
    background-color: rgb(0, 0, 0);
}
.price p{
    font-size: ;
}

.section1_prdt img{
    height: 400px;
    width: 400px;
}

.carousel img{
    box-shadow: 5px 5px rgb(56, 56, 56);
    height: 400px;
    width: 400px;
    border-radius: 15px;
}

html{
    overflow-x: hidden;
}

/**Products**/

.products h1 {
    text-align: center;
    font-size: 2rem;
}
.products h3{
    text-align: center;
    font-weight: 600;
    font-size: 1.8rem;
}
.ecard{
    display: flex;
    margin-left: 135px;
    align-items: flex-start;
}

.card{
    background-color: rgb(79, 79, 79, 0.1);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.1);
    max-width: 300px;
    padding: 20px;
    text-align: center;
    transition: 0.3s ease;
    margin: 10px;
    box-shadow: 2.5px 2.5px rgb(79, 79, 79);
}
.card img:hover{
    
}
.card {
    height: 450px;
}
.card:hover{
    transform: scale(1.05);
}


.product-image{
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 15px;
}
.product-title{
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: black;
}
.product-description{
    font-size: 0.9rem;
    color: rgb(38, 38, 39);
}
.product-price{
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(38, 38, 39);
    margin-bottom: 20px;
}
.buy-button{
    background-color: rgb(38, 38, 39);
    color: white;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 5px;
    padding: 10px 20px;
    transition: 0.3s ease;
    border: 1px solid rgb(0, 0, 0);
}

.buy-button:hover{
    background-color: white;
    color: rgb(38, 38, 39);
}

.viewmore{
    text-align: center;
    margin: 20px;
}
.viewmore a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgb(38, 38, 39);
    border-radius: 5px;
    padding: 5px;
    border: 1px solid rgb(0, 0, 0);
}

.viewmore a:hover{
    color: rgb(38, 38, 39);
    background-color: white;
}

.viewmore a:hover{
    color: rgb(38, 38, 39);
}

.ecard1{
    display: flex;
    margin-left: 115px;
    justify-content: center;
}

/**footer*/

footer{
    width: 100%;
    height: auto;
    padding: 50px 100px;
}

footer .foot{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
}

footer .foot .sec h2{
    position: relative;
    font-weight: 600;
    margin-bottom: 15px;
}

footer .foot .sec p{
    color: rgb(225, 225, 225);
}

footer .foot .sci{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4,50px);
}

footer .foot .sci li{
    list-style: none;
}

footer .foot .sci li a{
    display: inline-block;
    width: 36px;
    height: 36px;
    display: grid;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    transition: 0.3s;
}



footer .foot .sci li a #fb{
    color: white;
}

footer .foot .sci li a #fb:hover{
    color: rgb(69, 69, 238);
}
footer .foot .sci li a #ig:hover{
    color: rgb(246, 51, 77);
}
footer .foot .sci li a #twi:hover{
    color: black;
}
footer .foot .sci li a #yt:hover{
    color: red;
}

footer .foot .quicklinks ul li{
    list-style: none;
}

footer .foot .quicklinks ul li a{
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
    color: rgb(225, 225, 225);
    padding-left: 10px;
    transition: 0.3s;
}

footer .foot .quicklinks ul li a:hover{
    color: rgb(0, 0, 0);
    
}

footer .foot .contact .info{
    position: relative;
}

footer .foot .contact .info li{
    display: grid;
    grid-template-columns: 30px 1fr;
    margin-bottom: 16px;
}

footer .foot .contact .info li span{
    color: rgb(225, 225, 225);
    font-size: 20px;
}

footer .foot .contact .info li a{
    text-decoration: none;
    color: rgb(225, 225, 225);
}

.copyright{
    width: 100%;
    display: gr;
    padding: 20px 100px 30px;
    text-align: center;
    color: rgb(38, 38, 39);
    

}
.main1 .section1_prdt .price .btnPrice button{
    color: rgb(255, 255, 255);
    transition: 0.3s;
}

.main1 .section1_prdt .price .btnPrice button:hover{
    background-color: rgb(225, 225, 225);
    color: rgb(38, 38, 39);
}


/**contact**/

.contact-container{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 0;
}

.form{
    background-color: rgb(79, 79, 79);
    padding: 50px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
}
.form button{
    transition: 0.3s ease;
}

.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.ctitle h2{
    font-weight: 600;
    color: rgb(255, 255, 255);
    font-size: 40px;
    margin-bottom: 5px;
}

.ctitle hr{
    border: none;
    width: 100%;
    height: 5px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin-bottom: 20px;
}

.contact-inputs{
    width: 400px;
    height: 50px;
    border: 1px solid rgb(56, 56, 56);
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: rgb(79, 79, 79);
    border-radius: 50px;
    box-shadow: 5px solid rgb(79, 79, 79);
}

.contact-input{
    height: 150px;
    padding-top: 15px;
    border-radius: 20px;
    border: 1px solid rgb(56, 56, 56);
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: rgb(79, 79, 79);
    width: 400px;
    box-shadow: 5px solid rgb(79, 79, 79);
}

.contact-input:focus,
.contact-inputs:focus{
    border: 2px solid rgb(0, 0, 0);
}

.contact button{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: white;
    gap: 10px;
    border: 1px solid rgb(38, 38, 39);
    border-radius: 50px;
}

.contact button:hover{
    color: rgb(38, 38, 39);
    background-color: white;
}

.contact p{
    color: white;
}
.contact a{
    text-decoration: none;
    padding-left: 5px;
    font-size: 16px;
    color: rgb(45, 131, 237);
}


.icons{
    position: relative;
    padding: 20px 0;
    display: flex;
}

.icons .fa-location-dot:hover{
    color: red;
}

.icons .fa-phone:hover{
    color: rgb(66, 255, 66);
}

.icons .fa-envelope:hover{
    color: rgb(255, 255, 107);
}

.icons .icons1{
    min-width: 60px;
    height: 60px;
    background: rgb(79, 79, 79);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
    color: white;
}

.icons .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    flex-direction: column;
    font-weight: 300;
}

.icons .text h3{
    font-weight: 500;
}

/**about us**/

.about{
    padding: 70px 0;
    width: 100%;
}

.about-text{
    width: 550px;
}

.about1{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about1 img{
    border-radius: 20px;
    border: 2px solid rgb(0, 0, 0);
}
.about-text h1{
    font-size: 60px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text h5{
    font-size: 25px;
    margin-bottom: 25px;
    letter-spacing: 2px;
}
.about-text span{
    color: rgb(56, 56, 56);
}

.about-text p{
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

.abouts{
    background: rgb(0, 0, 0);
}

.abouts .about-text h1{
    font-size: 50px;
}

.abouts .about-text h1,
.abouts .about-text h5,
.abouts .about-text p {
    color: white;
}

.section3_d2 img{
    border-radius: 20px;
    height: 400px;
}

.location{
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.location h2{
    align-items: center;
    justify-content: center;
    padding-left: 39.4%;
    font-size: 50px;
    padding-bottom: 20px;
}

.about1 iframe{
    border-radius: 20px;
    border: 2px solid rgb(0, 0, 0);
}

.about1 .sci {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 4rem;
    font-size: 40px;
}

.about1 .sci a{
    color: rgb(56, 56, 56);
    transition: 0.3s ease;
}

.about1 .sci li a #fb:hover{
    color: rgb(69, 69, 238);
    transform: scale(1.05);
}

.about1 .sci li a #ig:hover{
    color: rgb(246, 51, 77);
    transform: scale(1.05);
}

.about1 .sci li a #twi:hover{
    color: rgb(0, 0, 0);
    transform: scale(1.05);
}

.about1 .sci li a #yt:hover{
    color: red;
    transform: scale(1.05);
}

.rem {
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.gu{
    display: flex;
    flex-direction: row;
    gap: 6rem;
}